<div style="width: 60%;margin: 30px auto;">
  <div class="title">{{title}}</div>
  <div nz-row style="margin-bottom: 70px;">
    <div nz-col nzSpan="4" class="ennn">机构编号:</div>
    <div nz-col nzSpan="20" class="emmm"><input nz-input placeholder="请输入机构编号" [(ngModel)]="code"></div>
    <div nz-col nzSpan="4" class="ennn">机构名称:</div>
    <div nz-col nzSpan="20" class="emmm"><input nz-input placeholder="请输入机构名称" [(ngModel)]="name"></div>
    <div nz-col nzSpan="4" class="ennn">所在地区:</div>
    <div nz-col nzSpan="10" class="emmm">
      <nz-select style="width: 24%;margin-right: 2%" [(ngModel)]="provinceNum" nzAllowClear nzPlaceHolder="请选择省份"
        (ngModelChange)="getAdminDivision(2,provinceNum)">
        <nz-option *ngFor="let item of province" [nzValue]="item.provinceCode" [nzLabel]="item.provinceName"></nz-option>
      </nz-select>
      <nz-select style="width: 24%;" [(ngModel)]="cityNum" nzAllowClear nzPlaceHolder="请选择城市">
        <nz-option *ngFor="let item of city" [nzValue]="item.cityCode" [nzLabel]="item.cityName"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="4" class="ennn">详细地址:</div>
    <div nz-col nzSpan="20" class="emmm"><input nz-input placeholder="请输入详细地址" [(ngModel)]="address"></div>
    <div nz-col nzSpan="4" class="ennn">统一社会信用代码:</div>
    <div nz-col nzSpan="20" class="emmm">
      <input nz-input placeholder="请输入统一社会信用代码" [(ngModel)]="socialCreditCode">
    </div>
    <div nz-col nzSpan="4" class="ennn">注册日期:</div>
    <div nz-col nzSpan="20" class="emmm">
      <nz-date-picker [(ngModel)]="registDate"></nz-date-picker>
    </div>
    <div nz-col nzSpan="4" class="ennn">法人姓名</div>
    <div nz-col nzSpan="20" class="emmm">
      <input nz-input placeholder="请输入法人姓名" [(ngModel)]="legalPerson">
    </div>
    <div nz-col nzSpan="4" class="ennn">法人身份证号:</div>
    <div nz-col nzSpan="20" class="emmm"><input nz-input placeholder="请输入法人身份证号" [(ngModel)]="legalPersonName"></div>
    <div nz-col nzSpan="4" class="ennn">联系人姓名:</div>
    <div nz-col nzSpan="20" class="emmm"><input nz-input placeholder="请输入联系人姓名" [(ngModel)]="contactsUserName"></div>
    <div nz-col nzSpan="4" class="ennn">联系人身份证号:</div>
    <div nz-col nzSpan="20" class="emmm"><input nz-input placeholder="请输入联系人身份证号" [(ngModel)]="contactsUseIdnum"></div>
    <div nz-col nzSpan="4" class="ennn">联系人电话:</div>
    <div nz-col nzSpan="20" class="emmm"><input nz-input placeholder="请输入联系人电话" [(ngModel)]="phone"></div>
    <div nz-col nzSpan="4" class="ennn">评级:</div>
    <div nz-col nzSpan="20" class="emmm">
      <nz-rate [ngModel]="grade"></nz-rate>
    </div>
    <div nz-col nzSpan="4" class="ennn">备注:</div>
    <div nz-col nzSpan="20" class="emmm">
      <textarea rows="4" nz-input [(ngModel)]="remark" nzPlaceHolder="请输入备注"></textarea>
    </div>
  </div>
  <div class="baocun">
    <button nz-button nzType="primary" (click)="tianjia()">保存</button>
    <button nz-button nzType="primary" (click)="goto('infomation/bids','')">取消</button>
  </div>
</div>