<div class="add-box">
  <div class="heard">
    <div>
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a [routerLink]="['../']">用户列表</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <span class="span">添加用户</span>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>
  <div class="form-box">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <label style="display:none;"><span></span><input type="text" name="loginName" ></label>
      <label style="display:none;"><span></span><input type="password" name="password" ></label>    
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="loginName" nzRequired>登录名</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input appTrim nz-input id="loginName" autocomplete="off" formControlName="loginName" placeholder="登录名">
          <nz-form-explain *ngIf="validateForm.get('loginName').dirty && validateForm.get('loginName').errors">请输入登录名!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired><span>姓名</span></nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input appTrim nz-input id="name" formControlName="name"  placeholder="姓名">
          <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">Please input your name!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>手机号</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phone']">
          <input appTrim formControlName="phone" id="'phone'" nz-input placeholder="手机号">
          <nz-form-explain *ngIf="validateForm.get('phone').dirty && validateForm.get('phone').errors">Please input your
            phone number!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input appTrim nz-input type="password" autocomplete="off" placeholder="密码" id="password" formControlName="password" >
          <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">请输入密码!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
<!-- 
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark" >备注</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['remark']">
          <textarea  appTrim formControlName="remark" id="'remark'" nz-input placeholder="备注"></textarea>
          
        </nz-form-control>
      </nz-form-item> -->

      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary">保存</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>