<div class="add-box" [style.overflow]="preivewShow?'hidden':'auto'">
  <div class="preview overflow-auto;" *ngIf="preivewShow">
    <div class="close">
      <button (click)="previewClose()" nz-button>关闭</button>
    </div>
    <div class="preview-content">
      <div class="fileHead">
        <div class="fileTitle">{{validateForm.value.title}}</div>
        <div class="policy_fbt"></div>
        <!-- <div class="policy_ly">
              <span>通知标题：川助函〔2018〕15号</span>&nbsp;&nbsp;&nbsp;
              <span>单位：四川省</span>&nbsp;&nbsp;&nbsp;
              <span>日期：2018-03-19</span>			
          </div> -->
        <div class="policy_tjlc">
          <fieldset>
            <legend>置顶</legend>
            <p>{{validateForm.value.top?'是':'否'}}</p>
          </fieldset>
        </div>
      </div>
      <div style="padding:0 60px;min-height:200px;" [innerHTML]="preivewHtml">

      </div>
    </div>

  </div>
  <div class="heard">
    <div>
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a [routerLink]="['/admin/quality/event']">质量事件管理</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <span class="span">{{title}}</span>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>
  <div class="form-box" style="width:1100px">
    <div class="btn-box" style=" text-align: right; margin: 10px auto;">
      <button nz-button [routerLink]="['/admin/quality/event']" style="margin:0 10px" nzType="default">返回</button>
      <button *ngIf="showEdit" style="margin:0 10px" (click)="submitForm()" nzType="primary" nz-button>保存</button>
      <button *ngIf="showEdit" style="margin:0 10px" (click)="submitForm(1)" nzType="primary" nz-button>保存并发布</button>
    </div>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <!--通知标题-->
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="title" nzRequired>名称</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input [readonly]="!showEdit" appTrim nz-input id="title" formControlName="title" placeholder="输入通知标题">
          <nz-form-explain *ngIf="validateForm.get('title').dirty && validateForm.get('title').errors">
            <ng-container *ngIf="validateForm.get('title').hasError('required')">
              请输入通知标题！
            </ng-container>
            <ng-container *ngIf="validateForm.get('title').hasError('length')">
              通知标题请少于60字！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="eventLevel" nzRequired>
          <span>
            事件级别
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select style="width: 120px;" formControlName="eventLevel" nzPlaceHolder="选择行业">
            <nz-option [nzValue]="1" nzLabel="质量问题"></nz-option>
            <nz-option [nzValue]="2" nzLabel="质量事件"></nz-option>
            <nz-option [nzValue]="3" nzLabel="质量事故"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="validateForm.get('eventLevel').dirty && validateForm.get('eventLevel').errors">
            <ng-container *ngIf="validateForm.get('eventLevel').hasError('required')">
              请选择事件级别！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="supplierId" nzRequired>
          <span>
            供应商
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select style="width: 120px;" formControlName="supplierId" nzPlaceHolder="选择行业">
            <nz-option *ngFor="let item of supplierList" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="validateForm.get('supplierId').dirty && validateForm.get('supplierId').errors">
            <ng-container *ngIf="validateForm.get('supplierId').hasError('required')">
              请选择供应商！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="materials" nzRequired>涉及物料</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input [readonly]="!showEdit" appTrim nz-input id="materials" formControlName="materials" placeholder="输入通知标题">
          <nz-form-explain *ngIf="validateForm.get('materials').dirty && validateForm.get('materials').errors">
            <ng-container *ngIf="validateForm.get('materials').hasError('required')">
              请输入涉及物料！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="occurrenceTime" nzRequired>发生时间</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-date-picker [nzDisabled]="!showEdit" formControlName="occurrenceTime" (ngModelChange)="dateChange($event)"></nz-date-picker>
            <br>
          <nz-form-explain *ngIf="validateForm.get('occurrenceTime').dirty && validateForm.get('occurrenceTime').errors">
            <ng-container *ngIf="validateForm.get('occurrenceTime').hasError('required')">
              请输入发生时间！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="remark" nzRequired>
          <span>
            事件描述
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea [readonly]="!showEdit" appTrim nz-input placeholder="事件描述" id="remark" formControlName="remark"></textarea>
          <nz-form-explain *ngIf="validateForm.get('remark').dirty && validateForm.get('remark').errors">
            请输入事件描述
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="top" nzRequired>
          <span>
            置顶
          </span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-radio-group [nzDisabled]="!showEdit" formControlName="top">
            <label nz-radio [nzValue]="1">是</label>
            <label nz-radio [nzValue]="0">否</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>