<div class="tou">
  <span>类型:</span>
  <nz-select style="width: 15%;margin-right: 15px;" [(ngModel)]="supplierTypeId" nzAllowClear nzPlaceHolder="请选择类型">
    <nz-option *ngFor="let item of supplierType;" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
  </nz-select>
  <span>供应商名称:</span>
  <input style="width: 15%;margin-right: 15px;" nz-input placeholder="请输入供应商名称" [(ngModel)]="name">
  <span>所在地区:</span>
  <nz-select style="width: 8%;margin-right: 15px;" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
  </nz-select>
  <nz-select style="width: 8%;margin-right: 15px;" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
      <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    </nz-select>
  <span>状态:</span>
  <nz-select style="width: 15%;margin-right: 15px;" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
  </nz-select>
  <button nz-button nzType="primary" style="float: right;">查询</button>
</div>

<div style="margin: 20px auto;width: 80%">
  <div style="overflow:auto">
    <div style="margin-bottom: 16px; float: right;">
      <span style="margin-right: 8px;" *ngIf="checkedNumber">您已选择{{checkedNumber}}项</span>
      <button style="margin:0 10px" nz-button [disabled]="disabledButton" [nzType]="'primary'" [nzLoading]="operating"
        (click)="operateData()">批量删除</button>
      <button style="margin:0 10px" nz-button (click)="goto('infomation/supplier/add','')">新增供应商</button>
      <button style="margin:0 10px" nz-button>导入供应商</button>
    </div>
  </div>
  <nz-table #rowSelectionTable [nzData]="dataSet" (nzCurrentPageDataChange)="currentPageDataChange($event)"
    (nzPageIndexChange)="refreshStatus()" (nzPageSizeChange)="refreshStatus()">
    <thead>
      <tr>
        <th style="text-align: center" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"></th>
        <th style="text-align: center">编号</th>
        <th style="text-align: center">供应商名称</th>
        <th style="text-align: center">类型</th>
        <th style="text-align: center">所在地区</th>
        <th style="text-align: center">状态</th>
        <th style="text-align: center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td style="text-align: center" nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
        <td style="text-align: center">{{data.name}}</td>
        <td style="text-align: center">{{data.age}}</td>
        <td style="text-align: center">{{data.address}}</td>
        <td style="text-align: center">{{data.address}}</td>
        <td style="text-align: center">{{data.address}}</td>
        <td style="text-align: center">
          <button style="margin:0 2px" nz-button nzType="default">编辑</button>
          <button style="margin:0 2px" nz-button nzType="default">删除</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>