<div class="box">
  <div class="list-box">
    <div class="search clear" style="padding:20px;">
      <div>
        <div class="chaxun">
          <span>用餐人姓名</span>
          <input nz-input [(ngModel)]="title" placeholder="查询标题" >
        </div>
        <div class="chaxun">
          <span>更新时间</span>
          <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" nzShowTime></nz-range-picker>
        </div>
        <div class="chaxun">
          <span>状态</span>
          <nz-select style="width: 120px;"  nzAllowClear nzPlaceHolder="状态">
            <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
            <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
          </nz-select>
        </div>
        <div class="chaxun">
          <button nz-button nzType="chaxun" (click)="getList()">查询</button>
        </div>
      </div>
    </div>
    <div class="table-head">
      <div class="head-h2">
        <span>投诉列表</span>
      </div>
      <!-- <div class="btn-box">
        <button nz-button nzType="tianjia" routerLink="./add">新增强军要闻</button>
      </div> -->
    </div>
    <div class="table-box">
      <nz-table #basicTable 
        [nzData]="list" [nzFrontPagination]="false"
        [nzPageIndex]="pageNum"
        [nzTotal]="totalCount"
        [nzPageSize]="pageSize"
        (nzPageIndexChange)="getList()">
        <!-- <nz-table #basicTable [nzData]="list" [nzShowPagination]="false"> -->
          <thead>
            <tr>
              <th>序号</th>
              <th>用餐人姓名</th>
              <th>身份证号</th>
              <th>联系电话</th>
              <th>工作单位</th>
              <th>用餐人数</th>
              <th>用餐时间</th>
              <th>备注</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of list let i= index">
              <td>{{i}}</td>
              <td>{{data.name}}</td>
              <td>{{data.idnum}}</td>
              <td>{{data.phone}}</td>
              <td>{{data.workers}}</td>
              <td>{{data.eatsCount}}</td>
              <td>{{data.eatTime}}</td>
              <td>{{data.remark}}</td>
              <td>
                <a *ngIf="data.status==0" class="op" (click)="click(data)">未处理</a>
                <span *ngIf="data.status==1" style="color:#a0a0a0">已处理</span>
              </td>
            </tr>
          </tbody>
      </nz-table>
    </div>
  </div>
</div>

