<div class="tou">
  <span>设备名称:</span>
  <input style="width: 15%;margin-right: 15px;" nz-input placeholder="请输入设备名称" [(ngModel)]="name">
  <span>供应商:</span>
  <input style="width: 15%;margin-right: 15px;" nz-input placeholder="请输入供应商" [(ngModel)]="supplierId">
  <span>采购负责人:</span>
  <input style="width: 15%;margin-right: 15px;" nz-input placeholder="请输入采购负责人" [(ngModel)]="value">
  <span>状态:</span>
  <nz-select style="width: 15%;margin-right: 15px;" [(ngModel)]="status" nzAllowClear nzPlaceHolder="Choose">
    <nz-option nzValue="" nzLabel="全部"></nz-option>
    <nz-option nzValue="0" nzLabel="库存保管"></nz-option>
    <nz-option nzValue="1" nzLabel="使用中"></nz-option>
    <nz-option nzValue="2" nzLabel="已使用"></nz-option>
    <nz-option nzValue="3" nzLabel="已废弃"></nz-option>
  </nz-select>
  <button nz-button nzType="primary" style="float: right;" (click)="fileChange()">查询</button>
</div>

<div style="margin: 20px auto;width: 80%">
  <div style="overflow:auto">
    <div style="margin-bottom: 16px; float: right;">
      <span style="margin-right: 8px;">您已选择{{checkedNumber}}项</span>
      <button style="margin:0 10px" nz-button [nzType]="'primary'" [disabled]="disabledButton" (click)="operateData()">批量删除</button>
      <button style="margin:0 10px" nz-button (click)="goto('infomation/equipment/add','add')">新增设备</button>
      <button style="margin:0 10px" nz-button (click)="goto('infomation/equipment/import','')">导入设备</button>
    </div>
  </div>
  <nz-table #rowSelectionTable [nzData]="dataSet" [nzTotal]="totalCount" [nzFrontPagination]="false" [nzPageSize]="pageSize" [(nzPageIndex)]="pageNumber" (nzPageIndexChange)="fileChange()" (nzCurrentPageDataChange)="currentPageDataChange($event)">
    <thead>
      <tr>
        <th style="text-align: center" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
        <th style="text-align: center">编号</th>
        <th style="text-align: center">设备名称</th>
        <th style="text-align: center">供应商</th>
        <th style="text-align: center">状态</th>
        <th style="text-align: center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data">
        <td style="text-align: center" nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus()"></td>
        <td style="text-align: center">{{data.code}}</td>
        <td style="text-align: center">{{data.name}}</td>
        <td style="text-align: center">{{data.supplierName}}</td>
        <td style="text-align: center">{{data.status}}</td>
        <td style="text-align: center">
          <button style="margin:0 2px" nz-button nzType="default" (click)="goto('infomation/equipment/add',data.id)">编辑</button>
          <button style="margin:0 2px" nz-button nzType="default" (click)="operateData(data.id)">删除</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
