<div class="box">
  <div class="list-box">
    <div class="search clear" style="padding:20px;">
      <div>
        <div class="chaxun">
          <span>标题</span>
          <input nz-input [(ngModel)]="title" placeholder="查询标题">
        </div>
        <div class="chaxun">
          <span>举报时间</span>
          <nz-range-picker [nzFormat]="'yyyy/MM/dd'" [(ngModel)]="dateRange" (ngModelChange)="onChange($event)"
            nzShowTime></nz-range-picker>
        </div>
        <div class="chaxun">
          <button nz-button nzType="chaxun" (click)="getList()">查询</button>
        </div>
      </div>
    </div>
    <div class="table-head">
      <div class="head-h2">
        <span>投诉列表</span>
      </div>
      <!-- <div class="btn-box">
        <button nz-button nzType="tianjia" routerLink="./add">新增强军要闻</button>
      </div> -->
    </div>
    <div class="table-box">
      <nz-table #basicTable [nzData]="list" [nzFrontPagination]="false" [(nzPageIndex)]="pageNum" [nzTotal]="totalCount"
        [(nzPageSize)]="pageSize" (nzPageIndexChange)="getList()">
        <!-- <nz-table #basicTable [nzData]="list" [nzShowPagination]="false"> -->
        <thead>
          <tr>
            <th>序号</th>
            <th>举报人</th>
            <th>工作单位</th>
            <th>联系电话</th>
            <th>举报时间</th>
            <th>处理时间</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of list let i= index">
            <td>{{i+1}}</td>
            <td>{{data.reportName}}</td>
            <td>{{data.works}}</td>
            <td>{{data.phone}}</td>
            <td>{{data.reportTime}}</td>
            <td>{{data.updateTime}}</td>
            <td>
              <nz-tag [nzColor]="'magenta'" *ngIf="data.status==0||!data.status">未处理</nz-tag>
              <nz-tag [nzColor]="'green'" *ngIf="data.status==1">已处理</nz-tag>
            </td>
            <td>
              <a class="op" [routerLink]="'./detail/'+data.id">查看</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>