<div class="user-add-cpp">
  <div class="Breadcrumb">
    <div>
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <a [routerLink]="['../../']">投诉管理</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <span class="span">{{title}}</span>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
  </div>
    <div class="waikuang">
      <div class="user-add">
        <div nz-row>
          <span nz-col nzSpan="4">举报人:</span>
          <span nz-col nzSpan="20">{{detail.reportName}}</span>
        </div>
        <div nz-row>
          <span nz-col nzSpan="4">工作单位:</span>
          <span nz-col nzSpan="20">{{detail.works}}</span>
        </div>
        <div nz-row>
          <span nz-col nzSpan="4">联系电话:</span>
          <span nz-col nzSpan="20">{{detail.phone}}</span>
        </div>
        <div nz-row>
          <span nz-col nzSpan="4">举报标题:</span>
          <span nz-col nzSpan="20">{{detail.title}}</span>
        </div>
        <div nz-row>
          <span nz-col nzSpan="4">详细内容:</span>
          <span nz-col nzSpan="20">{{detail.content}}</span>
        </div>
        <div class="div11" *ngIf="detail.status == '0'" >
          <button nz-button style="margin-right:40px;"nzType="primary" (click)="flag = true" >立即处理</button>
          <button nz-button nzType="default" [routerLink]="['../../']">返回列表</button>

        </div>
        <div class="form-box" [style.display]="flag?'block':'none'">
          <textarea rows="4" nz-input [(ngModel)]="dealText" placeholder="输入处理意见"></textarea>
          <button nz-button  style="margin-top:10px;" nzType="primary" (click)="submit()" >确定</button>
        </div>
        <div class="div11">
        </div>

      </div>
    </div>
</div>