<div class="box">
  <div class="list-box">
    <div class="search clear" style="padding:20px;">
      <div>
        <div class="chaxun">
          <span>用车单位/人员姓名</span>
          <input style="width:200px;" nz-input [(ngModel)]="title" placeholder="查询用车单位/人员姓名" >
        </div>
        <div class="chaxun">
          <span>时间</span>
          <nz-range-picker [(ngModel)]="dateRange" nzShowTime></nz-range-picker>
        </div>
        <div class="chaxun">
          <button nz-button nzType="chaxun" (click)="getList()">查询</button>
        </div>
      </div>
    </div>
    <div class="table-head">
      <div class="head-h2">
        <span>投诉列表</span>
      </div>
      <!-- <div class="btn-box">
        <button nz-button nzType="tianjia" routerLink="./add">新增强军要闻</button>
      </div> -->
    </div>
    <div class="table-box">
      <nz-table #basicTable 
        [nzData]="list" [nzFrontPagination]="false"
        [(nzPageIndex)]="pageNum"
        [nzTotal]="totalCount"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="getList()">
        <!-- <nz-table #basicTable [nzData]="list" [nzShowPagination]="false"> -->
        <thead>
          <tr>
            <th>序号</th>
            <th>用车单位/人员姓名</th>
            <th>申请事由</th>
            <th>用车时间</th>
            <th>接送站地点</th>
            <th>航班号</th>
            <th>车次</th>
            <th>用车人数</th>
            <th>申请车型</th>
            <th>行驶区域</th>
            <th>联系电话</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of list let i= index">
            <td>{{i}}</td>
            <td>{{data.name}}</td>
            <td>{{data.applicationReason}}</td>
            <td>{{data.applicationTime}}</td>
            <td>{{data.address}}</td>
            <td>{{data.flight}}</td>
            <td>{{data.trainNumber}}</td>
            <td>{{data.trainPersons}}</td>
            <td>{{data.vehicleType}}</td>
            <td>{{data.vehicleArea}}</td>
            <td>{{data.phone}}</td>
            <td>
              <nz-tag [nzColor]="'magenta'" *ngIf="data.status==0">未处理</nz-tag>
              <nz-tag [nzColor]="'green'" *ngIf="data.status==1">已处理</nz-tag>
            </td>
            <td>
              <a nz-button [routerLink]="'./detail/'+data.id">
                {{data.status==0?'处理':'查看'}}</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

