<div class="box">
  <div class="list-box">
    <div class="search clear" style="padding:20px;">
      <div>
        <div class="chaxun">
          <span>标题</span>
          <input nz-input [(ngModel)]="title" placeholder="查询标题" >
        </div>
        <div class="chaxun">
          <span>更新时间</span>
          <nz-range-picker [(ngModel)]="dateRange" (ngModelChange)="onChange($event)" nzShowTime></nz-range-picker>
        </div>
        <div class="chaxun">
          <span>状态</span>
          <nz-select style="width: 120px;"  nzAllowClear nzPlaceHolder="状态">
            <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
            <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
          </nz-select>
        </div>
        <div class="chaxun">
          <button nz-button nzType="chaxun" (click)="getList()">查询</button>
        </div>
      </div>
    </div>
    <div class="table-head">
      <div class="head-h2">
        <span>投诉列表</span>
      </div>
      <!-- <div class="btn-box">
        <button nz-button nzType="tianjia" routerLink="./add">新增强军要闻</button>
      </div> -->
    </div>
    <div class="table-box">
      <nz-table #basicTable 
        [nzData]="list" [nzFrontPagination]="false"
        [nzPageIndex]="pageNum"
        [nzTotal]="totalCount"
        [nzPageSize]="pageSize"
        (nzPageIndexChange)="getList()">
        <!-- <nz-table #basicTable [nzData]="list" [nzShowPagination]="false"> -->
        <thead>
          <tr>
            <th>序号</th>
            <th>乘客姓名</th>
            <th>申请事由</th>
            <th>用车时间</th>
            <th>接送站地点</th>
            <th>航班号</th>
            <th>车次</th>
            <th>用车人数</th>
            <th>申请车型</th>
            <th>行驶区域</th>
            <th>联系电话</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of list let i= index">
            <td>{{i}}</td>
            <td>{{data.name}}</td>
            <td>{{data.applicationReason}}</td>
            <td>{{data.applicationTime}}</td>
            <td>{{data.address}}</td>
            <td>{{data.flight}}</td>
            <td>{{data.trainNumber}}</td>
            <td>{{data.trainPersons}}</td>
            <td>{{data.vehicleType}}</td>
            <td>{{data.vehicleArea}}</td>
            <td>{{data.phone}}</td>
            <td>
              <a *ngIf="data.status==0"  class="op" (click)="click(data)" >未处理</a>
              <span *ngIf="data.status==1" style="color:#a0a0a0" >已处理</span>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>

